In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv(r"C:\Users\rohan\Downloads\Employee.csv")
data.head()

,Employee ID,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,...,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition
0,8410,31,Male,19,Education,5390,Excellent,Medium,Average,2.0,...,0.0,Mid,Medium,89,No,No,No,Excellent,Medium,Stayed
1,64756,59,Female,4,Media,5534,Poor,High,Low,3.0,...,3.0,Mid,Medium,21,No,No,No,Fair,Low,Stayed
2,30257,24,Female,10,Healthcare,8159,Good,High,Low,0.0,...,3.0,Mid,Medium,74,No,No,No,Poor,Low,Stayed
3,65791,36,Female,7,Education,3989,Good,High,High,1.0,...,2.0,Mid,Small,50,Yes,No,No,Good,Medium,Stayed
4,65026,56,Male,41,Education,4821,Fair,Very High,Average,0.0,...,0.0,Senior,Medium,68,No,No,No,Fair,Medium,Stayed

In [3]:
data_test = pd.read_csv(r"C:\Users\rohan\Downloads\Employee.csv")
data.head()

,Employee ID,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,...,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition
0,8410,31,Male,19,Education,5390,Excellent,Medium,Average,2.0,...,0.0,Mid,Medium,89,No,No,No,Excellent,Medium,Stayed
1,64756,59,Female,4,Media,5534,Poor,High,Low,3.0,...,3.0,Mid,Medium,21,No,No,No,Fair,Low,Stayed
2,30257,24,Female,10,Healthcare,8159,Good,High,Low,0.0,...,3.0,Mid,Medium,74,No,No,No,Poor,Low,Stayed
3,65791,36,Female,7,Education,3989,Good,High,High,1.0,...,2.0,Mid,Small,50,Yes,No,No,Good,Medium,Stayed
4,65026,56,Male,41,Education,4821,Fair,Very High,Average,0.0,...,0.0,Senior,Medium,68,No,No,No,Fair,Medium,Stayed

In [4]:
data.sample(5)

,Employee ID,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,...,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition
55938,718,55,Female,32,Healthcare,8465,Good,Medium,Average,0.0,...,4.0,Mid,Small,91,No,No,No,Excellent,High,Left
68915,66795,56,Female,39,Healthcare,6983,Excellent,Medium,Average,1.0,...,2.0,Mid,Small,67,No,No,No,Fair,High,Left
73138,56317,19,Male,11,Healthcare,7112,Good,High,High,0.0,...,1.0,Mid,Medium,13,No,No,No,Good,Low,Left
60070,44804,26,Male,10,Healthcare,7201,Poor,High,Low,0.0,...,4.0,Senior,Medium,13,No,No,No,Poor,Low,Stayed
10845,74496,51,Male,42,Education,4124,Fair,Medium,Average,0.0,...,2.0,Mid,Small,57,No,No,Yes,Fair,Low,Left

In [5]:
data.shape

(74498, 24)

In [6]:
data.info

<bound method DataFrame.info of        Employee ID  Age  Gender  Years at Company    Job Role  Monthly Income  \
0             8410   31    Male                19   Education            5390
1            64756   59  Female                 4       Media            5534
2            30257   24  Female                10  Healthcare            8159
3            65791   36  Female                 7   Education            3989
4            65026   56    Male                41   Education            4821
...            ...  ...     ...               ...         ...             ...
74493        16243   56  Female                42  Healthcare            7830
74494        47175   30  Female                15   Education            3856
74495        12409   52    Male                 5   Education            5654
74496         9554   18    Male                 4   Education            5276
74497        73042   59  Female                48   Education            3774

      Work-Life Balance Job Satisfaction Performance Rating  \
0             Excellent           Medium            Average
1                  Poor             High                Low
2                  Good             High                Low
3                  Good             High               High
4                  Fair        Very High            Average
...                 ...              ...                ...
74493              Poor           Medium            Average
74494              Good           Medium            Average
74495              Good        Very High      Below Average
74496              Fair             High            Average
74497              Good             High      Below Average

       Number of Promotions  ... Number of Dependents  Job Level Company Size  \
0                       2.0  ...                  0.0        Mid       Medium
1                       3.0  ...                  3.0        Mid       Medium
2                       0.0  ...                  3.0        Mid       Medium
3                       1.0  ...                  2.0        Mid        Small
4                       0.0  ...                  0.0     Senior       Medium
...                     ...  ...                  ...        ...          ...
74493                   0.0  ...                  0.0     Senior       Medium
74494                   2.0  ...                  0.0      Entry       Medium
74495                   0.0  ...                  4.0        Mid        Small
74496                   0.0  ...                  3.0        Mid        Large
74497                   1.0  ...                  4.0        Mid        Large

      Company Tenure  Remote Work Leadership Opportunities  \
0                 89           No                       No
1                 21           No                       No
2                 74           No                       No
3                 50          Yes                       No
4                 68           No                       No
...              ...          ...                      ...
74493             60           No                       No
74494             20           No                       No
74495              7           No                       No
74496              5           No                       No
74497            118           No                       No

      Innovation Opportunities  Company Reputation Employee Recognition  \
0                           No           Excellent               Medium
1                           No                Fair                  Low
2                           No                Poor                  Low
3                           No                Good               Medium
4                           No                Fair               Medium
...                        ...                 ...                  ...
74493                       No                Poor               Medium
74494                       No                Good               Medium
74495                       No                Good                 High
74496                       No                Poor                 High
74497                       No                Good            Very High

      Attrition
0        Stayed
1        Stayed
2        Stayed
3        Stayed
4        Stayed
...         ...
74493    Stayed
74494      Left
74495      Left
74496    Stayed
74497      Left

[74498 rows x 24 columns]>

In [2]:
data.columns

NameError: name 'data' is not defined

In [3]:
data.dtypes

NameError: name 'data' is not defined

In [10]:
corrmat = data.corr()
plt.subplots(figsize = (10,9))
sns.heatmap(corrmat, annot = True,vmin= -0.2, vmax = 0.9, cmap = 'Job Role')
plt.show()

ValueError: could not convert string to float: 'Male'

In [11]:
data= data.drop('Job Satisfaction', axis=1)
data_test = data_test.drop('Job Satisfaction', axis=1)

In [ ]:

# Exclude 'MonthlyCharges', 'TotalCharges', and 'tenure'
columns_to_plot = [col for col in data.columns if col not in ['Company Tenure ', 'Company Size','Job Level']]

# Iterate through the selected columns
for col in columns_to_plot:
  value_counts = data[col].value_counts()

  # Create the pie chart
  plt.figure(figsize=(8, 8))
  plt.pie(value_counts, labels=value_counts.index, autopct='%1.1f%%', startangle=90)
  plt.title(f'Distribution of {col}')
  plt.axis('equal')
  plt.show()